<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %> 
    

<body>

    <%- include('../partials/header') %> 


    <main class="main-home" >
        <section class="last-visit">
        <div class="container">
            <div class="card">
                <div class="Background">
                    
                    <h1 class="foto1"h1></h1>
                    <img src="/img/<%=producto.imagen%> " alt="pc" >
            
                </div>
                <div class="info">
                    <div class="name">
                        <div>
                            <h1><%=producto.nombre%></h1>
                        </div>
                    </div>
                    <div class="description">
                        <h3 class="title">ESPECIFICACIONES</h3>
                        <p class="text"><%=producto.descripcion%>
                        </p>
                    </div>
                
                    <div class="size-container">
                        <h3 class="title"><%=producto.cuotas%></h3> 
                    </div>
                    <div class="buy-price">
                        <a class="buy"></a>
                        <div class="price22">
                            <button class="botoneDetail" type="submit"><a  class="letradetail" href="/ProductCart">Agregar a carrito</a> </button>
                            
                            <i class="fas fa-dollar-sign"></i>
                            <h1><%=mil(producto.precio)%></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="caja2">

            <div class="subtitulo">
                <h2>También te puede interesar</h2>
            </div>

<!-- </body> -->

    <div class="products">
        <% for(let producto of productos){ %>
            <% if(producto.categoria=="interes"){%>
        <article>
            <div class="imagenes">
                <img src="/img/<%=producto.imagen%>" alt="producto" width="360" class="product_img">
            </div>
            <div class="main-article">
                
                <p class="price"><%=mil(producto.precio)%></p>
                <p class="discount">Envío Gratis</p>
                <h3 class="description"><%=producto.nombre%></h3>
                <button class="botone3"><a href="/ProductDetail/<%=producto.id%>" class="letra3">Ver más </a></button>
            </div>
        </article>
        <%} %> 
        <%} %> 
    </div>
    </section>
    </main>
    <br>


    <%- include('../partials/footer') %> 
    
</body>
</html>